.hero_social_network {
  display: flex;
  gap: 20px;
  .telegram {
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #34aadf;
    border-radius: 50%;
    cursor: pointer;
    svg {
      height: 28px;
    }
  }

  .whatsapp {
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #43d854;
    border-radius: 50%;
    cursor: pointer;
    svg {
      height: 26px;
    }
  }
}
// hero_social_network

@media screen and (max-width: 1440px) {
  .hero_social_network {
    gap: 15px;
   
    .telegram {
      width: 44px;
      height: 44px;
      svg {
        height: 24px;
      }
    }

    .whatsapp {
      width: 44px;
      height: 44px;
      svg {
        height: 22px;
      }
    }
  }
  // hero_social_network
}

@media screen and (max-width: 1024px) {
  // hero_title
  .hero_social_network {
    gap: 15px;

    .telegram {
      width: 44px;
      height: 44px;
      svg {
        height: 24px;
      }
    }

    .whatsapp {
      width: 44px;
      height: 44px;
      svg {
        height: 22px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hero_social_network {
    gap: 15px;
    
    .telegram {
      width: 40px;
      height: 40px;
      svg {
        height: 22px;
      }
    }

    .whatsapp {
      width: 40px;
      height: 40px;
      svg {
        height: 20px;
      }
    }
  }
  // hero_social_network
}
