.social {
  display: flex;
  gap: 20px;
  .social_telegram {
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #34aadf;
    border-radius: 50%;
    cursor: pointer;
    svg {
      height: 28px;
    }
  }

  .social_whatsapp {
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #43d854;
    border-radius: 50%;
    cursor: pointer;
    svg {
      height: 26px;
    }
  }
}
// social

@media screen and (max-width: 1440px) {
  .social {
    gap: 15px;
   
    .social_telegram {
      width: 44px;
      height: 44px;
      svg {
        height: 24px;
      }
    }

    .social_whatsapp {
      width: 44px;
      height: 44px;
      svg {
        height: 22px;
      }
    }
  }
  // social
}

@media screen and (max-width: 1024px) {
  // hero_title
  .social {
    gap: 15px;

    .social_telegram {
      width: 44px;
      height: 44px;
      svg {
        height: 24px;
      }
    }

    .social_whatsapp {
      width: 44px;
      height: 44px;
      svg {
        height: 22px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .social {
    gap: 15px;
    
    .social_telegram {
      width: 40px;
      height: 40px;
      svg {
        height: 22px;
      }
    }

    .social_whatsapp {
      width: 40px;
      height: 40px;
      svg {
        height: 20px;
      }
    }
  }
  // social
}
