.ReviewCard {
  width: 100%;
  img {
    width: 476px;
    height: 740px;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* установите свойство opacity на ваш выбор */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 0.5s ease;
    opacity: 0;
    img{
      width: 90px;
      height: 90px;
    }
  }
}
.ReviewCard:hover .overlay {
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .ReviewCard {
    width: 100%;
    height: 100%;
    img {
      width: 420px;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1080px) {
  .ReviewCard {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    img {
      width: 380px;
      height: 540px;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 768px) {
  .ReviewCard {
    width: 100%;
    img {
      width: 380px;
      height: 440px;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 650px) {
  .ReviewCard {
    width: 100%;
    img {
      width: 320px;
      height: 380px;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 425px) {
  .ReviewCard {
    width: 100%;
    img {
      width: 210px;
      height: 290px;
      object-fit: cover;
    }
  }
}
@media screen and (max-width: 360px) {
  .ReviewCard {
    width: 100%;
    img {
      height: 277px;
      width: 178px;
      object-fit: cover;
    }
  }
}