.Reviews {
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #2B2B2B;
    .videos{
      max-width: 100%;
    }
    h1{
      font-family: 'Stolzl';
      font-weight: 500;
      font-size: 100px;
      line-height: 130px;
      color:white
      }
    
  }

@media screen and (max-width:425px) {
  .Reviews{
    h1{
      font-size: 70px;
      line-height: 80px;
    }
  }
}

  