.Reviews {
    max-width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #2B2B2B;
    .videos{
      width: 100%;
    }
    h1{
      font-family: 'Stolzl';
      font-weight: 500;
      font-size: 100px;
      line-height: 130px;
      color:white
      }
    
  }
  