.collapsed {
  width: 36px;
  height: 100vh;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 2s;
  pointer-events: none;
  user-select: none;  

  .collapsed__gradient {
    position: relative;
    z-index: 0;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(22, 21, 22, 0.9) -7.87%,
      rgba(22, 21, 22, 0.6) 100%
    );
    opacity: 0;
    transition: all 0.5s;
    
    .collapsed__header {
      height: 180px;
      position: relative;
      padding: 0 60px;
      box-sizing: border-box;
      margin: 0 auto;
    }

    .collapsed__nav {
      display: flex;
      gap: 200px;
      padding: 0 150px;

      ul {
        li {
          list-style: none;
          a {
            position: relative;
            text-decoration: none;
            font-family: "Stolzl", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 54px;
            line-height: 130px;
            color: #76828c;
            &:hover,
            &:focus {
              color: #ffffff;
            }

            &:hover::after,
            &:focus::after {
              content: "";
              width: 100%;
              height: 12px;
              position: absolute;
              z-index: -1;
              bottom: 7px;
              right: 0;
              background: #33b7bc;
              -webkit-transform: skew(-55deg);
              -moz-transform: skew(-55deg);
              -o-transform: skew(-55deg);
            }
          }
        }
      }
    }
    // collapsed__nav

    .footer {
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #272727;
      font-family: "Stolzl", sans-serif;
      font-style: normal;
      padding: 0 60px 0 150px;
      box-sizing: border-box;

      .footer__content {
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: #76828c;
      }
      // footer__content

      .footer__social {
        display: flex;
        align-items: center;
        gap: 26px;

        p:first-child {
          font-weight: 700;
          font-size: 34px;
          line-height: 90px;
          color: #ffffff;
        }
      }
      // footer__social
    }
    // footer
  }
  // collapsed__gradient
}
// collapsed

// Когда открывается навигационное бургер меню
.expanded {
  width: 100%;
  opacity: 1;
  background: url(../../public/backgroundNavBurgerMenu.png) no-repeat center;
  background-size: cover;
  transition: all 2s;
  user-select: auto;
  pointer-events: all;

  .collapsed__gradient {
    opacity: 1;
    transition: all 2s;
    transition-delay: 1.5s;
  }
  // collapsed__gradient
}
// collapsed

@media screen and (max-width: 1440px) {
  .collapsed {
    .collapsed__gradient {
      .collapsed__header {
        padding: 0 40px;
      }
      .collapsed__nav {
        gap: 200px;

        ul {
          li {
            a {
              font-size: 40px;
              line-height: 120px;
              &:hover::after,
              &:focus::after {
                height: 10px;
                bottom: 5px;
              }
            }
          }
        }
      }
      // collapsed__nav

      .footer {
        padding: 0 40px 0 150px;
        .footer__content {
          font-size: 20px;
          line-height: 24px;
        }
        // footer__content

        .footer__social {
          gap: 26px;

          p:first-child {
            font-size: 30px;
          }
        }
        // footer__social
      }
      // footer
    }
    // collapsed__gradient
  }
  // menu-collapsed
}

@media screen and (max-width: 1024px) {
  .collapsed {
    .collapsed__gradient {
      .collapsed__header {
        padding: 0 30px;
      }

      .collapsed__nav {
        gap: 100px;

        ul {
          li {
            a {
              font-size: 30px;
              line-height: 100px;
              &:hover::after,
              &:focus::after {
                height: 8px;
                bottom: 3px;
              }
            }
          }
        }
      }
      // collapsed__nav

      .footer {
        padding: 0 30px 0 150px;
        .footer__content {
          font-size: 10px;
          line-height: 14px;
        }
        // footer__content
        .footer__social {
          gap: 20px;

          p:first-child {
            font-size: 20px;
          }
        }
        // footer__social
      }
      // footer
    }
    // collapsed__gradient
  }
  // menu-collapsed
}

@media screen and (max-width: 768px) {
  .collapsed {
    .collapsed__gradient {
      .collapsed__header {
        padding: 0 50px;
      }

      .collapsed__nav {
        gap: 60px;

        ul {
          li {
            a {
              font-size: 20px;
              line-height: 80px;
              &:hover::after,
              &:focus::after {
                height: 6px;
                bottom: 2px;
              }
            }
          }
        }
      }
      // collapsed__nav

      .footer {
        justify-content: flex-end;
        padding: 0 50px;
        .footer__content {
          display: none;
        }
        // footer__content

        .footer__social {
          gap: 20px;

          p:first-child {
            font-size: 20px;
          }
        }
        // footer__social
      }
      // footer
    }
    // collapsed__gradient
  }
  // menu-collapsed
}

@media screen and (max-width: 425px) {
  .collapsed {
    .collapsed__gradient {
      .collapsed__header {
        padding: 0 20px;
      }

      .collapsed__nav {
        gap: 24px;

        ul {
          li {
            a {
              font-size: 16px;
              line-height: 80px;
              &:hover::after,
              &:focus::after {
                height: 4px;
                bottom: 2px;
              }
            }
          }
        }
      }
      // collapsed__nav

      .footer {
        padding: 0 20px;

        .footer__social {
          gap: 10px;

          p:first-child {
            font-size: 15px;
          }
        }
        // footer__social
      }
      // footer
    }
    // collapsed__gradient
  }
  // menu-collapsed
}
