@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@mixin font-size(
  $baseSize,
  $mobileSize: null,
  $tabletSize: null,
  $desktopSize: null,
  $maxWidth: 1200px
) {
  font-size: $baseSize;

  @if $mobileSize != null {
    @media (max-width: 320px) {
      font-size: $mobileSize;
    }
    @media (min-width: 321px) and (max-width: 767px) {
      font-size: $mobileSize;
    }
  }

  @if $tabletSize != null {
    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: $tabletSize;
    }
  }

  @if $desktopSize != null {
    @media (min-width: 1024px) and (max-width: $maxWidth) {
      font-size: $desktopSize;
    }
  }
}

.discount_section {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background: #161516;
  .discount_section__background_top {
    position: absolute;
    max-width: 288.22px;
    width: 100%;
    height: 288.22px;
    top: 100px;
    z-index: 3;
    background: #053daa;
    filter: blur(325px);
    transform: rotate(20.49deg);
  }
  .discount_section__background_bottom {
    position: absolute;
    max-width: 255.64px;
    width: 100%;
    height: 255.64px;
    top: 250px;
    left: 130px;
    z-index: 2;
    background: #109e9e;
    filter: blur(325px);
    transform: rotate(20.49deg);
  }
  .discount_section__background_right {
    position: absolute;
    width: 339px;
    height: 458px;
    right: 0;
    z-index: 4;
    top: -100px;
    background: linear-gradient(243.58deg, #33b7bc 19.04%, #030307 74.63%);
    opacity: 0.25;
    filter: blur(175px);
    border-radius: 300px;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  .discount_section__block {
    position: relative;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(30, 29, 30, 0.5);

    box-shadow: 0px 14px 44px #0e0e0e;
    border-radius: 129px 20px 20px 20px;
    .discount_section__block_left__img {
      position: absolute;
      left: -85px;
      bottom: 0;
      width: 481px;
      height: 378px;
    }
    .discount_section__block_right__img {
      position: absolute;
      right: -15px;
      top: 17px;
      width: 351px;
      height: 318px;
      transform: rotate(270deg);
    }
    h1 {
      font-style: normal;
      font-weight: 300;
      font-size: 46px;
      line-height: 36px;
      text-align: center;
      margin-top: 80px;
      @include font-size(46px, 28px, 35px, 40px);

      color: #ffffff;
    }
    h2 {
      font-style: normal;
      font-weight: 400;
      text-align: center;
      font-size: 18px;
      line-height: 28px;
      margin-top: 25px;
      text-align: center;

      @include font-size(18px, 14px, 16px, 17px);

      color: #868686;
    }
    .discount_section__block__footer {
      max-width: 625px;
      width: 100%;
      margin-top: 54px;
      margin-bottom: 88px;
      display: flex;
      justify-content: space-between;
      input {
        max-width: 425px;
        width: 100%;
        height: 68px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        padding-left: 65px;
        transition: 0.3s;
        outline: none;
        border: 1px solid #434343a8;

        color: #868686;

        background-image: url("../../public/emailLogo.png");
        background-repeat: no-repeat;
        background-position-x: 30px;
        background-position-y: 21px;
        background-size: 25px;
        background-color: #2b282b;
        opacity: 0.4;
        border-radius: 10px;
      }
      input:invalid {
        border: 1px solid #d34b4ba8 !important;
        animation: shake 0.2s 2;
        color: #d34b4b;
      }
      input:focus {
        border: 1px solid #33b7bc;
      }
      @keyframes shake {
        25% {
          translate: 5px 0;
        }
        50% {
          translate: -5px 0;
        }
        75% {
          translate: 5px 0;
        }
      }
      button {
        width: 180px;
        height: 68px;

        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        border: none;
        transition: 0.5s;

        color: #ffffff;
        background: #33b7bc;
        border-radius: 10px;
        cursor: pointer;
      }
      button:hover {
        box-shadow: 0px 0px 20px #245c5f;
      }
    }
  }
  .discount_section_brands {
    width: 100%;
    height: 81px;
    margin-top: 270px;
    .marquee {
      position: relative;
      width: 100vw;
      max-width: 100%;
      height: 200px;
      overflow-x: hidden;
      .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 30s linear infinite;
        .content {
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          @include font-size(40px, 25px, 32px, 37px);

          word-spacing: 50px;
          margin-top: 10px;
          color: #414141;
          span {
            margin-right: 50px;
            position: relative;
            z-index: 1;
            cursor: pointer;
            transition: 0.9s;
          }
          span:hover,
          span:focus {
            color: #ffffff;
          }
          span:hover::after,
          span:focus::after {
            content: "";
            width: 100%;
            height: 14px;
            position: absolute;
            z-index: -1;
            bottom: 1px;
            top: 30px;
            right: 0;
            background: #33b7bc;
            -webkit-transform: skew(-55deg);
            -moz-transform: skew(-55deg);
            -o-transform: skew(-55deg);
          }
        }
      }
    }
  }
  .discount_section__block_background {
    position: absolute;
    top: 290px;
    z-index: 1;
    right: 20px;
    max-width: 185px;
    width: 100%;
    height: 196px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    transform: rotate(270deg);
    span {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 28px;

      color: #323232;
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 1861px) {
  .discount_section__block_background {
    left: 1420px !important;
  }
}

@media screen and (max-width: 1748px) {
  .discount_section__block_background {
    left: inherit !important;
  }
}

@media screen and (max-width: 1364px) {
  .discount_section__block_background {
    display: none !important;
  }
}

@media screen and (max-width: 1182px) {
  .discount_section {
    padding: 0 2% 0 2% !important;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    span:hover::after,
    span:focus::after {
      top: 23px !important;
      height: 13px !important;
    }
  }
}

@media screen and (max-width: 900px) {
  .discount_section__block_left__img {
    display: none;
  }
  .discount_section__block_right__img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .content {
    span:hover::after,
    span:focus::after {
      top: 18px !important;
      height: 10px !important;
    }
  }
  .discount_section_brands {
    margin-top: 200px !important;
  }
}

@media screen and (max-width: 700px) {
  .discount_section__block {
    padding: 0 3% 0 3% !important;
  }
  .discount_section__background_bottom {
    left: inherit !important;
  }
  .discount_section__background_right {
    display: none;
  }
  .discount_section__block__footer {
    input {
      margin-right: 10px;
    }
  }
}
@media screen and (max-width: 456px) {
  .discount_section__background_top {
    max-width: 208.22px !important;
  }
  .discount_section__background_bottom {
    max-width: 205.64px !important;
  }
  .discount_section__block {
    border-radius: 70px 20px 20px 20px !important;
  }
  .discount_section__block__footer {
    flex-direction: column;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    input {
      max-width: 100% !important;
      margin-bottom: 15px;
      font-size: 18px !important; 
    }
    button {
      width: 100% !important;
    }
  }
  .content {
    span:hover::after,
    span:focus::after {
      top: 19px !important;
      height: 8px !important;
    }
  }
  .discount_section_brands {
    margin-top: 150px !important;
  }
}
