.AskUsAnything {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-top: 200px;
  background-color: #2B2B2B;
  .map {
    width: 1100px;
    height: 860px;
    border-radius: 0px 20px 20px 0px;
  }
  .right_block {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    h1 {
      font-weight: 500;
      font-size: 70px;
      line-height: 90px;
      color: white;
      padding-bottom: 80px;
    }

    .big_input {
      color: white;
      width: 700px;
      height: 180px;
      background: linear-gradient(
        90.75deg,
        #1c1c1c 0.65%,
        rgba(27, 27, 27, 0.4) 107.06%
      );
      border-radius: 10px;
      border: 0.5px solid gray;
      text-align: start;
      padding-left: 30px;
      padding-bottom: 70px;
      font-weight: 400;
      font-size: 23px;
      line-height: 90px;
      margin-bottom: 30px;
    }
    .big_input:hover {
      border-color: #33b7bc;
      transition: 0.8s;
    }
    button {
      width: 310px;
      height: 90px;
      border: 2px solid #33b7bc;
      border-radius: 10px;
      font-family: "Stolzl";
      font-weight: 600;
      font-size: 18px;
      line-height: 90px;
      color: white;
    }
  }
}

@media screen and (max-width: 1440px) {
  .AskUsAnything {
    .map {
      width: 900px;
      height: 800px;
    }
    .right_block {
      padding-left: 40px;
      h1 {
        font-weight: 400;
        font-size: 48px;
        line-height: 80px;
        color: white;
        padding-bottom: 40px;
      }
      .big_input {
        width: 600px;
        height: 160px;
        padding-left: 26px;
        padding-top: 20px;
        font-weight: 400;
        font-size: 26px;
        line-height: 70px;
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .AskUsAnything {
    .right_block {
      h1 {
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        color: white;
        padding-bottom: 50px;
      }
      .big_input {
        width: 360px;
        height: 100px;
        padding-top: 50px;
        padding-left: 24px;
        font-weight: 400;
        font-size: 20px;
        line-height: 70px;
        margin-bottom: 30px;
      }
      button{
        width: 360px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .AskUsAnything {
    .map {
      width: 400px;
      height: 480px;
    }
    .right_block {
      padding-left: 20px;
      h1 {
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        color: white;
        padding-bottom: 20px;
      }
      .big_input {
        width: 320px;
        height: 140px;
        padding-left: 10px;
        padding-bottom: 100px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 24px;
      }
      button {
        text-align: center;
        width: 320px;
        height: 60px;
        font-family: "Stolzl";
        font-weight: 600;
        font-size: 18px;
        line-height: 60px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .AskUsAnything {
    .map {
      display: none;
    }
    .right_block {
      text-align: center;
      padding-left: 0px;
      margin: auto;
      h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        padding-bottom: 20px;
      }
      .big_input {
        width: 380px;
        height: 140px;
        padding-top: 10px;
        padding-left: 10px;
        font-weight: 400;
        font-size: 15px;
        line-height: 90px;
        margin-bottom: 12px;
      }
      button {
        height: 62px;
        width: 380px;
        font-family: "Stolzl";
        font-weight: 400;
        font-size: 16px;
        line-height: 50px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .AskUsAnything {
    .right_block {
      padding-left: 10px;
      .big_input {
        width: 320px;
      }
      button {
        width: 320px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .AskUsAnything {
    .right_block {
      padding-left: 5px;
      .big_input {
        width: 310px;
      }
      button {
        width: 310px;
      }
    }
  }
}
