.car_card {
  position: relative;
  width: 100%;
  height: 550px;
  display: flex;
  align-items: flex-end;
  img {
    width: 960px;
    height: 90%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
  }
  .car_card_footer {
    position: relative;
    width: 100%;
    height: 60px;

    padding: 0 60px 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 40px;
    z-index: 2;
    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
      white-space: nowrap;

      display: flex;
      align-items: center;

      color: #ffffff;
    }
    button {
      width: 108px;
      height: 54px;
      border: 2px solid #33b7bc;
      border-radius: 8px;

      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 60px;

      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      text-transform: uppercase;
      transition: 0.4s;
      background: none;
      cursor: pointer;

      color: #ffffff;
    }
    button:hover {
      background: #2eacb0;
      box-shadow: 0px 0px 20px #245c5f;
      border-radius: 10px;
    }
    button:focus {
      background: #2eacb0;
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 1040px) {
  .car_card {
    height: 500px;
    img {
      width: 100%;
    }
    .car_card_footer {
      padding: 0 20px 0 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .car_card {
    height: 500px;
    img {
      width: 100%;
    }
    .car_card_footer {
      padding: 0 20px 0 20px;
    }
  }
}

@media screen and (max-width: 540px) {
  .car_card {
    width: 49.6%;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1247px) {
  .car_card {
    width: 49.4%;
  }
}

@media screen and (max-width: 1128px) {
  .car_card {
    width: 100% !important;
    .car_card_footer {
      padding: 0 30px 0 30px;
    }
  }
}

@media screen and (max-width: 1116px) {
  .car_card_footer {
    padding: 0 5px 0;
    margin-bottom: 30px !important;
  }
}

@media screen and (max-width: 951px) {
  .car_card {
    height: 400px;
  }
}

@media screen and (max-width: 620px) {
  .car_card_footer {
    h3 {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 570px) {
  .car_card {
    height: 290px;
  }
  .car_card_footer {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 570px) {
  .car_card_footer {
    margin-bottom: 2px !important;
    h3 {
      font-size: 23px !important;
    }
    button {
      font-size: 14px !important;
      width: 100px !important;
      height: 39px !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .car_card_footer {
    padding: 0 2px 0 2px;
  }
}

@media screen and (max-width: 350px) {
  .car_card {
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .car_card_footer {
    h3 {
      font-size: 20px !important;
    }
  }
}
@media screen and (max-width: 470px) {
  .car_card_footer {
    h3 {
      font-size: 20px !important;
    }
    button {
      width: 34%;
      height: 54px;
      border: 2px solid #33b7bc;
      border-radius: 8px;
    }
  }
}

@media (min-width: 0px) and (max-width: 380px) {
  .car_card_footer {
    padding: 0 10px 0 10px !important;
    h3 {
      font-size: 16px !important;
    }
    button {
      font-size: 13px !important;
      width: 79px !important;
      height: 38px !important;
    }
  }
}
