.logo_title {
  position: absolute;
  z-index: 123;
  left: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  .logo {
    height: 67px;
  }

  .title_first {
    height: 29px;
    margin-top: 22px;
  }

  .title_second {
    height: 9px;
    margin-top: 15px;
  }
}
// logo_title

@media screen and (max-width: 1250px) {
  .logo_title {
    .logo {
      height: 57px;
    }

    .title_first {
      height: 24px;
      margin-top: 20px;
    }

    .title_second {
      height: 8px;
      margin-top: 12px;
    }
  }
  // logo_title
}

@media screen and (max-width: 1024px) {
  .logo_title {
    .logo {
      height: 47px;
    }

    .title_first {
      height: 16px;
      margin-top: 12px;
    }

    .title_second {
      height: 6px;
      margin-top: 6px;
    }
  }
  // logo_title
}

@media screen and (max-width: 768px) {
  .logo_title {
    .logo {
      height: 47px;
    }

    .title_first,
    .title_second {
      display: none;
    }
  }
  // logo_title
}

@media screen and (max-width: 425px) {
  .logo_title {
    .logo {
      height: 47px;
    }
  }
  // logo_title
}
