.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  .logo {
    height: 67px;
  }

  .titleFirst {
    height: 29px;
    margin-top: 22px;
  }

  .titleSecond {
    height: 9px;
    margin-top: 15px;
  }
}
// container

@media screen and (max-width: 1440px) {
  .container {
    .logo {
      height: 57px;
    }

    .titleFirst {
      height: 24px;
      margin-top: 19px;
    }

    .titleSecond {
      height: 8px;
      margin-top: 14px;
    }
  }
  // container
}

@media screen and (max-width: 1024px) {
  .container {
    .logo {
      height: 47px;
    }

    .titleFirst {
      height: 18px;
      margin-top: 13px;
    }

    .titleSecond {
      height: 7px;
      margin-top: 13px;
    }
  }
  // container
}

