.burger_menu {
    width: 81px;
    height: 40px;
    position: relative;
    cursor: pointer;
    
    span {
      width: 61px;
      height: 2px;
      position: absolute;
      background-color: #fefefe;
      transition: all 0.2s ease;
    }
    span:nth-of-type(1) {
      bottom: 14.5px;
      right: 0;
    }
    span:nth-of-type(2) {
      top: 14.5px;
      left: 0;
    }

    &:hover span:nth-of-type(1) {
      right: 10px;
      transition: all 0.2s ease;
    }

    &:hover span:nth-of-type(2) {
      left: 10px;
      transition: all 0.2s ease;
    }
  }
  // burger_menu

  @media screen and (max-width: 1024px) {
    .burger_menu {
      width: 71px;
      height: 40px;
      span {
        width: 51px;
      }
      span:nth-of-type(1) {
        bottom: 14.5px;
        right: 0;
      }
      span:nth-of-type(2) {
        top: 14.5px;
        left: 0;
      }
  
      &:hover span:nth-of-type(1) {
        right: 10px;
      }
  
      &:hover span:nth-of-type(2) {
        left: 10px;
      }
    }
    // burger_menu
  }

  @media screen and (max-width: 768px) {
    .burger_menu {
      width: 61px;
      height: 40px;
      span {
        width: 41px;
      }
      span:nth-of-type(1) {
        bottom: 14.5px;
        right: 0;
      }
      span:nth-of-type(2) {
        top: 14.5px;
        left: 0;
      }
  
      &:hover span:nth-of-type(1) {
        right: 10px;
      }
  
      &:hover span:nth-of-type(2) {
        left: 10px;
      }
    }
    // burger_menu
  }