* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Stolzl";
  src: local("Stolzl Regular"), local("Stolzl-Regular"),
    url("../font/Stolzl-Regular.woff2") format("woff2"),
    url("../font/Stolzl-Regular.woff") format("woff"),
    url("../font/Stolzl-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

h1 , h2 , h3 ,h4 , h5 ,h6 , a , p , span , li , ul {
  font-family: "Stolzl";
}
